<h1>USER PROFILE</h1>
<h3><%= @user.name %> Will be hosting the following events</h3><hr>
<%= render @user.events.all %>
<h3><%= @user.name %> Will be attending the following events</h3><hr>
<%= render @user.attended_events %>